.main {
    background-color: rgb(99, 99, 95);
    overflow: scroll;
    position: relative;
    font-size: 30px;
    padding-top: 100px;
    height: 100vh;
}

.main h1 {
    margin-top: 14px;
    margin-bottom: 10px;
    position: relative;
    text-align: center;
    z-index: 1;
}

.main h2 {
    padding-left: 5vw;
    position: relative;
    z-index: 1;
}

.main p {
    position: relative;
    z-index: 1;
    text-indent: 5vw;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 2vw;
}

/*Desktop*/

@media (min-width: 768px) {
    .main {
        background-color: rgb(99, 99, 95);
        height: 100vh
    }
}
