/*Mobile properties*/
.desktopNavList {
    display: none;
}
.navBar {
    background-color: black;
    height:80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburgerButton{
    margin-left: auto;
    margin-right: 1.3rem;
}

.navList {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
    background-color: rgb(18, 115, 206);
    text-align: center;
    font-size: 2rem;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.4s cubic-bezier(0.4,0,0.2,1), opacity 1s, padding 0.4s cubic-bezier(0.4,0,0.2,1);    
}

.open {
    padding-top: 3%;
    padding-bottom: 3%;
    max-height: 500px; 
    opacity: 1;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
}


.navList hr {
    color: white;
    opacity: 50%;
    margin-left: 30%;
    margin-right: 30%;
}

.logo {
    margin-left: 1rem;
    margin-right: auto;
    scale: 80%;
}

/*For screens bigger than mobile*/
@media (min-width: 768px) {
    .navBar {
        height: 100px;
    }

    .hamburgerButton {
        display: none;
    }

    .navList hr {
        display: none;
    }

    .desktopNavList {
        display: block;
        margin-left: auto;
    }
    .navList {
        display: flex;
        flex-direction: row;
        background-color: rgb(0, 0, 0); /* Janky ahhh solution, do better */
        gap: 2.6rem;
        margin-right: 2rem;
        max-height: none;
        opacity: 1;
    }
    .mobileNavList{
        display: none;
    }

    .logo {
    scale: 100%;
}
  
}


