.heroContainer {
    background-color: rgb(99, 99, 95);
    height: calc(100vh - 90px);
}

.heroStack {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.heroMainSection {

    color: black;
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 28px;
}

.heroSubTitle {
    font-size: 110%;
}

.heroButton {
    margin-top: 55vh;
    scale: 250%;
}



.firstSection {
    display: flex;
    background-color: red;
    justify-content: center;
}


/*Medium screens*/
@media (min-width: 768px) { 

    .heroContainer {
    background-color: rgb(99, 99, 95);
    height: calc(100vh - 110px);
    }

    .heroMainSection {
        font-size: 50px;
    }

    .heroButton {
        margin-top: 45vh;
        scale: 250%;
    }


    .heroSubTitle {
        font-size: 80%;

    }

}

/*Large screens*/