.main {
    padding-top: 80px;
    height: 100%;
}

.imageContainer {
    display: flex;
    position: relative;
    width: 100vw;
    height: 20vh;
    align-items: center;
    justify-content: center;
    font-size: 10vw;
    margin-bottom: 4vh;
}

.imageContainer h1 {
    position: relative;
    color: black;
    z-index: 1;
    margin-bottom: auto;
    height: 20vh;
    font-size: 15vw;
}

.image{
    object-position: 100%;
    position: absolute;
    z-index: 0;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    gap:50px
}

.container hr {
    width: 50vw;
}

.button{
    margin-top: 5vw;
    scale: 200%;
    border: 1px solid white;
    border-radius: 5px;
}

/*Desktop*/
@media(min-width: 768px) {
    .main {
        padding-top: 100px;
    }

    .imageContainer{
        height: 30vh;
    }
    
    .imageContainer h1 {
        font-size: 13vh;
        margin-bottom: auto;
    }

    .container {
        margin-top: -100px;
        padding-top: 0px;
        scale: 80%;

    }
}