/*Mobile*/
.card {
    display: flex;
    flex-direction: column;
    font-size: 70px;
    margin-top: 10px;
    margin-bottom: 4vw;
}

.topRow {
    display: flex;
    align-items: flex-end;
    padding-bottom: 0;
}

.title {
    width: 100%;
    text-align: start;
    padding-left: 3vw;
}

.emoji {
    scale: 80%;
}

.bottomRow {
    font-size: 35%;
    padding-left: 3vw;
    padding-right: 3vw;
}

/*Desktop*/
@media (min-width: 768px) {
    .emoji {
        margin-right: 3vw;
    }

    .topRow {
        padding-bottom: 2vw;
    }

 }