.card {
    display:flex;
    align-items: flex-end;
    padding-top: 20px;
    padding-bottom: 20px;
}

.icon{
    margin-right: auto;
    margin-top: -10px;
    height: 100%;
    width: 100%;
}

.cardInfo {
    margin-left: auto;
    margin-right: 5vw;
}

.infoText {
    display: inline-block;
}

.infoText hr {
    color: white;
    width:100%;
}

@media (min-width:768px) {
    .cardInfo {
        margin-left:auto;
        width: 50vw;
    }
}